*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


/app/src/main/res/layout
/app/src/main/java/sparespark/forecast/core/secret
/app/src/main/java/sparespark/forecast/data/service

/app/google-services.json
/app/src/main/AndroidManifest.xml
/app/src/main/java/sparespark/forecast/core/Constants.kt
/app/src/main/java/sparespark/forecast/data/db/ForecastDatabase.kt
